<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="//www.google-analytics.com">
	<link rel="preconnect" href="https://www.google-analytics.com">
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "dist.css" }}">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|Source+Sans+Pro:300,400,400i,900" rel="stylesheet">
</head>
<body>
	<div class="container">
		<header class="site-header">
			<h1><a href="/">Planr.</a></h1>
			<p>Web &amp; Technology Consulting</p>
		</header>
	
	