/*
* @Author: jeremyjaymes
* @Date:   2017-04-04 08:40:44
* @Last Modified by:   Jeremy V
* @Last Modified time: 2017-04-07 07:27:20
*/

article {

	header {

		h1 {
			a {
				border: 0;
				text-decoration: none;
			}
		}

		.meta {
			font-size: 85%;
			margin-bottom: 10px;
		}
	}

	footer {
		font-size: 85%
	}
}

.post {
	padding: 4% 0;
}
