/*
* @Author: jeremyjaymes
* @Date:   2017-04-06 09:55:51
* @Last Modified by:   jeremyjaymes
* @Last Modified time: 2017-04-06 10:05:04
*/


.site-footer {
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.copyright {
	font-size: 80%;
}