/*
* @Author: jeremyjaymes
* @Date:   2017-04-06 09:55:51
* @Last Modified by:   Jeremy V
* @Last Modified time: 2017-04-07 09:30:19
*/


.site-footer {
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.owner {
	font-size: 80%;

	a {
		border: 0;

		img {
			vertical-align: middle;
		}
	}
}