/*
* @Author: jeremyjaymes
* @Date:   2017-04-06 09:55:42
* @Last Modified by:   Jeremy V
* @Last Modified time: 2017-04-07 07:27:50
*/

.site-header {
	border-bottom: 1px dashed #249a38;
	padding-top: 6%;
	margin-bottom: 4%;

	h1 {
		font-size: 64px;
		font-weight: 700;
		line-height:1;
		margin-bottom: 0;

		a {
			border: 0;
			text-decoration: none;
		}
	}

	p {
		margin-top: 0.5em;
		margin-bottom: 1.5em;
	}
}